$dark-900: #1C1F24;
$dark-800: #1F2125;
$dark-700: #282A2E;
$dark-600: #3D3E43;
$dark-500: #4D4E51;
$dark-400: #525356;
$dark-300: #5D5E62;
$dark-200: #c4c5c7;
$blue: #3282D2;
$red-500: #EF4A3F;

$main-background: $dark-700;
$main-text: $dark-200;

$font: 'AvenirNextCyr', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

$field-height: 32px;