@import '../../styles/index';

.task-item {
  list-style: none;
  margin-left: 0;
  padding: 1rem 0;

  & + & {
    border-top: 1px solid var(--theme-ui-colors-border);
  }

  &__title {
    margin-bottom: 0.5rem;

    &--done {
      text-decoration: line-through;
    }
  }

  &__date {
    display: block;
    font-size: 12px;
    color: var(--theme-ui-colors-text-secondary);
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
