@import '../../styles/index';

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: $content-width;
  margin: 0 auto 32px;
  padding: 0;
  list-style: none;
}
