.board-page {
  &__title-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
  }

  &__title {
    margin-bottom: 0;
  }

  &__actions {
    display: flex;
    align-items: center;
  }
}
