@import '../../styles/index';

.field {
  width: 100%;

  &__input {
    width: 100%;
    height: $field-height;

    &[textarea] {
      resize: vertical;
    }
  }

  & + & {
    margin-top: 12px;
  }
}
