@import '../../../styles/index';

.board-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  row-gap: 8px;
  column-gap: 8px;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;

  @include media-query($desktop) {
    grid-template-columns: repeat(5, 1fr);
  }

  @include media-query($laptop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-query($tablet) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-query($fablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-query($mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
}
